<h1>ADMIN PANEL</h1>
<h3>Welcome <%= current_user.name %></h3>

<div>
    <p>View your store</p>
    <div><%= link_to 'View',  "/stores/#{@store.id}", method: :get, class: 'btn btn-primary' %><div>
    <p>Edit your store</p>
    <div><%= link_to 'Edit',  "/stores/#{@store.id}/edit", method: :get, class: 'btn btn-primary' %><div>
    
    <p>Add items to your store</p>
    <p>Manage your items</p>
    <div><%= link_to 'Add',  new_store_item_path(@store.id), method: :get, class: 'btn btn-primary' %><div>
    <p>Delete your store</p>
    <div><%= link_to 'Delete',  "/stores/#{@store.id}", method: :delete, class: 'btn btn-danger' %><div>

</div>

<div><%= link_to 'Back',  "/stores/", method: :get, class: 'btn btn-primary' %><div>
</div>