<style type="text/css">
  img {
    width: 100px;
  }
</style>



<div class="container no-gutter">

  <% @stores.each do |store| %>
  
    <li>
      <a href="/stores/<%= store.id%>/admin_panel">
      <div class="col-sm-3">
        <div class="row">
          <div><img src="<%= store.photo %>"></div>
          <div><h5><%= store.store_name %></h5></div>
          <div><h6><%= store.slogan %></h6></div>
          <br>
          <div class="type"><%= store.store_name %></div>
        </a>
    
           <% end %>
        </div>
     </div>
    </li>
</div>
<div><%= link_to 'New',  "/stores/new", method: :get, class: 'btn btn-primary' %><div>


