<style type="text/css">
  img {
    width: 100px;
  }
</style>



<div class="container no-gutter">

  <% @items.each do |item| %>
  
    <li>
      
      <div class="col-sm-3">
        <div class="row">
          <div><img src="<%= item.photo %>"></div>
          <div><h5><%= item.item_name %></h5></div>
          <div><h6><%= item.description %></h6></div>
          <br>
          <div class="type"><%= item.item_price %></div>
        </a>
    
           <% end %>
        </div>
     </div>
    </li>
</div>
<div><%= link_to 'New',  "/stores/new", method: :get, class: 'btn btn-primary' %><div>


